@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');


:root {
  --font-family-primary: 'Plus Jakarta Sans', sans-serif;
  
  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  
  /* Font sizes using viewport width */
  --font-size-h1: 5vw;
  --font-size-h2: 3vw;
  --font-size-h3: 1.5vw;
  --font-size-body: 1vw;
}

h1 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h1);
}

h2 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-h3);
}

p {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
}

textarea {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
}
textarea::placeholder {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
}

textarea::-webkit-input-placeholder {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
}

textarea::-moz-placeholder {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
}

textarea:-ms-input-placeholder {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
}

body {
  font-family: var(--font-family-primary);
}


/* 
 * Perform cleanup on default styling
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
textarea {
  border: none;           /* Removes border */
  outline: none;          /* Removes focus outline */
  resize: none;           /* Prevents manual resizing */
  background: transparent; /* Removes background */
  box-shadow: none;       /* Removes any box shadows */
  -webkit-appearance: none; /* Removes webkit styling */
  -moz-appearance: none;    /* Removes Firefox styling */
  appearance: none;         /* Standard property */
}